<div class="new-spending-form-wrapper">
  <form [formGroup]="newSpendingForm" #formDir="ngForm">
    <mat-form-field appearance="outline" [color]="'primary'">
      <input formControlName="description" matNativeControl placeholder="Description" type="text" />
      @if (newSpendingForm.controls.description.hasError('required')) {
      <mat-error><strong>Description is required!</strong></mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input matInput formControlName="amount" placeholder="Amount" type="number" />
      @if (newSpendingForm.controls.amount.hasError('required')) {
      <mat-error><strong>Amount is required!</strong></mat-error>
      }
    </mat-form-field>
    <mat-form-field floatLabel="always">
      <mat-select formControlName="currency" placeholder="Currency">
        <mat-option value="HUF">HUF</mat-option>
        <mat-option value="USD">USD</mat-option>
      </mat-select>
      @if (newSpendingForm.controls.currency.hasError('required')) {
      <mat-error><strong>Currency is required!</strong></mat-error>
      }
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="submitForm()" type="submit" form="ngForm">SAVE</button>
  </form>
</div>

<div class="sort-form-wrapper">
  <form [formGroup]="sortAndFilterForm">
    <mat-form-field floatLabel="always" class="sort-select" subscriptSizing="dynamic">
      <mat-select [formControl]="sortAndFilterForm.controls.order" placeholder="Sort by Date descending (default)">
        <mat-option value="-spent_at">Sort by Date descending (default)</mat-option>
        <mat-option value="spent_at">Sort by Date ascending</mat-option>
        <mat-option value="-amount">Sort by Amount descending</mat-option>
        <mat-option value="amount">Sort by Amount ascending</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-button-toggle-group [formControl]="sortAndFilterForm.controls.currency" aria-label="Font Style">
      <mat-button-toggle value="null">ALL</mat-button-toggle>
      <mat-button-toggle value="HUF">HUF</mat-button-toggle>
      <mat-button-toggle value="USD">USD</mat-button-toggle>
    </mat-button-toggle-group>
  </form>
</div>
